[submodule ".registry"]
	path = .registry
	url = https://github.com/tesselle/universe
	shallow = true
	branch = HEAD
[submodule "alkahest"]
	path = alkahest
	url = https://github.com/tesselle/alkahest
	shallow = true
	branch = main
	registered = true
[submodule "arkhe"]
	path = arkhe
	url = https://github.com/tesselle/arkhe
	shallow = true
	branch = main
	registered = true
[submodule "chronos"]
	path = chronos
	url = https://github.com/tesselle/chronos
	shallow = true
	branch = master
	registered = true
[submodule "dimensio"]
	path = dimensio
	url = https://github.com/tesselle/dimensio
	shallow = true
	branch = main
	registered = true
[submodule "fasti"]
	path = fasti
	url = https://github.com/tesselle/fasti
	shallow = true
	branch = main
	registered = true
[submodule "folio"]
	path = folio
	url = https://github.com/tesselle/folio
	shallow = true
	branch = main
	registered = true
[submodule "kairos"]
	path = kairos
	url = https://github.com/tesselle/kairos
	shallow = true
	branch = main
	registered = true
[submodule "khroma"]
	path = khroma
	url = https://github.com/tesselle/khroma
	shallow = true
	branch = main
	registered = true
[submodule "tabula"]
	path = tabula
	url = https://github.com/tesselle/tabula
	shallow = true
	branch = main
	registered = true
[submodule "tekton"]
	path = tekton
	url = https://github.com/tesselle/tekton
	shallow = true
	branch = main
	registered = true
[submodule "tesselle"]
	path = tesselle
	url = https://github.com/tesselle/tesselle
	shallow = true
	branch = main
	registered = true
