[submodule ".registry"]
	path = .registry
	url = https://github.com/tesselle/tesselle.r-universe.dev
	branch = HEAD
[submodule "aion"]
	path = aion
	url = https://codeberg.org/tesselle/aion
[submodule "alkahest"]
	path = alkahest
	url = https://codeberg.org/tesselle/alkahest
[submodule "ananke"]
	path = ananke
	url = https://codeberg.org/tesselle/ananke
[submodule "arkhe"]
	path = arkhe
	url = https://codeberg.org/tesselle/arkhe
[submodule "dimensio"]
	path = dimensio
	url = https://codeberg.org/tesselle/dimensio
[submodule "folio"]
	path = folio
	url = https://codeberg.org/tesselle/folio
[submodule "isopleuros"]
	path = isopleuros
	url = https://codeberg.org/tesselle/isopleuros
[submodule "kairos"]
	path = kairos
	url = https://codeberg.org/tesselle/kairos
[submodule "khroma"]
	path = khroma
	url = https://codeberg.org/tesselle/khroma
[submodule "kinesis"]
	path = kinesis
	url = https://codeberg.org/tesselle/kinesis
[submodule "nexus"]
	path = nexus
	url = https://codeberg.org/tesselle/nexus
[submodule "tabula"]
	path = tabula
	url = https://codeberg.org/tesselle/tabula
[submodule "tekton"]
	path = tekton
	url = https://codeberg.org/tesselle/tekton
[submodule "tesselle"]
	path = tesselle
	url = https://codeberg.org/tesselle/tesselle
